


  <div class="little-helper">
    <div id="lilHChat" class="chat-window">
      <div class="chat-container">
        <div class="chat-messages" id="chat-messages">

        </div>
        <div class="chat-input">
          <form id="chat-form">
            <input type="text" id="chat-message" autocomplete="off" placeholder="Type your message..." />
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
      <a href="#" id="applyChatPartial"><img src="../images/sal.gif" alt="lil-helper"></a>
  </div>

