<div id="fundz-window">
    <div id="fundz-output">
        <p id="amount"> Balance: {{balance}} </p>
        <button id="add-fundz"> ADD FUNDS </button>
        <button id="bet"> BET </button>
    </div>
</div>