<div id="fundz-window">
    <div id="fundz-output">

        <!--<a href="/wallet/user_wallet/{{id}}/balance_display">-->
        <h5 id="amount"> Balance: {{ walletBalance }} </h5>
        <input type="text"> <br>

        <button id="use-amount"> USE AMOUNT </button>
        <button id="cancelBtn"> CANCEL </button>
    </div>
</div>