<div id="fundz-window">
    <div id="fundz-output">

        <p id="amount"> Balance: {{balance}} </p>

        <a href="/wallet/user_wallet{{id}}"></a>
        <p id="amount"> {{amount.balance}} </p>

        <button id="add-fundz"> ADD FUNDS </button>
        <button id="bet"> BET </button>
    </div>
</div>