<div class="login_container">
    <form class="login-form" method="POST" action="/login">
        <h1 class="login-title">Login</h1>
        <input id='username-login' type="text" name="username" placeholder="Username" />
        <input id='password-login' type="password" name="password" placeholder="Password" />
        <button type="submit" class="login-button">Login</button>
        <p>_________</p>
        <a href="http://localhost:3001/register" id='signupLink'>Need a username? Sign Up </a>
    </form>
</div>