<nav class="navbar">
  <div class="navbar-container">
    <a href="/dashboard" class="navbar-brand">
      <img src="/images/clover.png" alt="Four-Leaf Cas" class="nav-icon">
    </a>
    <ul class="navbar-menu">
      <li class="navbar-item"><a href="http://localhost:3001/games" class="navbar-link">Games</a></li>
      <li class="navbar-item"><a href="http://localhost:3001/account" class="navbar-link">Account</a></li> <!-- This should link to the user's profile -->
      <li class="navbar-item"><a href="http://localhost:3001/login" class="navbar-link">Log In</a></li>
      <li class="navbar-item"><a href="http://localhost:3001/register" class="navbar-link">User</a></li>
    </ul>
  </div>
</nav>
