<nav class="navbar">
  <div class="container-fluid">
    <a href="/dashboard" class="navbar-brand">
      <img src="/images/clover.png" alt="Four-Leaf Cas" class="nav-icon">
    </a>
    <ul class="navbar-menu">
      <li class="navbar-item dropdown">
        <a href="#" class="navbar-link dropdown-toggle" data-bs-toggle="dropdown">Games</a>
        <ul class="dropdown-menu">
          <li><a href="/games" class="dropdown-item">BlackJack</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a href="#" class="dropdown-item disabled">Clover</a></li>
          <!-- remove `disabled` to update if the game becomes available ;) -->
          <li><a href="#" class="dropdown-item disabled">Roulette</a></li>
          <li><a href="#" class="dropdown-item disabled">Slots</a></li>
          <li><a href="#" class="dropdown-item disabled">Poker</a></li>
          <li><a href="#" class="dropdown-item disabled">Craps</a></li>
        </ul>
      </li>
      <li class="navbar-item"><a href="http://localhost:3001/account" class="navbar-link">Account</a></li>

      <li class="navbar-item"><a href="http://localhost:3001/login" class="navbar-link">Log In</a></li>
      <li class="navbar-item"><a href="http://localhost:3001/register" class="navbar-link">Register</a></li>
    </ul>
  </div>
  </div>
</nav>