<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-brand">
      <img src="/images/clover.png" alt="Four-Leaf Cas" class="nav-icon">
    </a>
    <ul class="navbar-menu">
      <li class="navbar-item"><a href="/games" class="navbar-link">Games</a></li>
      <li class="navbar-item"><a href="/account" class="navbar-link">Account</a></li>
      <li class="navbar-item"><a href="/logout" class="navbar-link">Logout</a></li>
      <li class="navbar-item"><a href="/balance" class="navbar-link">Balance: ${userBalance}</a></li>
    </ul>
  </div>
</nav>
