<nav class="navbar">
  <div class="container-fluid">
    <ul class="navbar-menu">
      {{#if logged_in}}
        {{!-- Profile picture --}}
        <li class="navbar-item dropdown">
          <img src="{{profilePicture}}" alt="Profile Picture" class="dropdown-toggle nav-profile-pic"
            id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="dropdown-menu" aria-labelledby="profileDropdown">
  <a href="/dashboard" class="dropdown-item">Home</a>
  <a href="/account" class="dropdown-item">Account: {{username}}</a>
  <a href="/wallet" class="dropdown-item">Wallet: {{walletBalance}}</a>
  <a id="logout-button" class="dropdown-item">Log Out</a>
</div>

        </li>
        {{!-- Games --}}
        <li class="navbar-item dropdown">
          <a href="#" class="navbar-link dropdown-toggle" data-bs-toggle="dropdown">Games</a>
          <ul class="dropdown-menu">
            <li><a href="/games" class="dropdown-item">BlackJack</a></li>
          </ul>
        </li>
      {{else}}
        <li class="navbar-item"><a href="/login" class="navbar-link">Log In</a></li>
        <li class="navbar-item"><a href="/register" class="navbar-link">Register</a></li>
      {{/if}}
    </ul>
    <a href="/dashboard" class="navbar-brand">
      <img src="/images/clover.png" alt="Four-Leaf Cas" class="nav-icon">
    </a>
  </div>
</nav>
