<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- Navigation bar -->
  <nav class="navbar">
    <div class="navbar-container">
      <a href="/" class="navbar-brand">WP Cas</a>
      <ul class="navbar-menu">
        <li class="navbar-item"><a href="/games" class="navbar-link">Games</a></li>
        <li class="navbar-item"><a href="/account" class="navbar-link">Account</a></li>
        <li class="navbar-item"><a href="/logout" class="navbar-link">Logout</a></li>
      </ul>
    </div>
  </nav>

  <!-- Page content -->
  
  {{{ body }}}
  

  <script src="./js/app.js"></script>
</body>

</html>
