<body>
    {{> nav}}

    <main>
        <h1>User Account</h1>

        {{#if user}}
            <div>
                <h3>Username: {{user.username}}</h3>
                <h3>Email: {{user.email}}</h3>
            </div>
        {{else}}
            <p>Please log in to view your account information.</p>
        {{/if}}
    </main>
</body>

