<div class="container dashboard">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="/images/blackjack.png" class="card-img-top" alt="Game 1">
      <div class="card-body">
        <h5 class="card-title">Black Jack</h5>
        <p class="card-text">Test your strategy and skills in this classic casino card game. The aim is to beat the dealer by getting a score as close to 21 as possible, without going over.</p>
        <a href="/games" class="btn btn-primary custom-button">Play Game 1</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="Game 2">
      <div class="card-body">
        <h5 class="card-title">Coming Soon</h5>
        <p class="card-text">Under Construction....</p>
        <a href="#" class="btn btn-primary custom-button">Play Game 2</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="Game 3">
      <div class="card-body">
        <h5 class="card-title">Coming Soon</h5>
        <p class="card-text">Under Construction....</p>
        <a href="#" class="btn btn-primary custom-button">Play Game 3</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="Game 4">
      <div class="card-body">
        <h5 class="card-title">Coming Soon</h5>
        <p class="card-text">Under Construction....</p>
        <a href="#" class="btn btn-primary custom-button">Play Game 4</a>
      </div>
    </div>
  </div>
</div>

