


<div class='welcome-wrapper'>
  <h2>Welcome Back, {{username}}!</h2>
  <p>Grab your lucky charms for some</p>
  <p><strong>Quick. Easy. Fun!</strong></p>
  <button class="getStarted">Get Started!</a>
 </div>