<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style-d.css">
    <link rel="stylesheet" href="../../css/little-helper.css">
</head>

<body>
    <div class="container">
        <div id="balance" class="balance">Balance: 1000</div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div id="dealerHand" class="dealerHand">
                            <div id="a"></div>
                            <div id="b"><img class="card-img" id="faceDown" src="../images/fullDeck/back.png" alt="">
                            </div>
                            <div id="notYourScore" class="score"></div>
                            <div id="c"></div>
                            <div id="d"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div id="playerHand" class="myHand">
                            <div id="e"></div>
                            <div id="yourScore" class="score"></div>
                            <div id="f"></div>
                            <div id="g"></div>
                            <div id="h"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="buttons">
                    <button class="hit" id="hitBtn"> HIT </button>
                    <button class="stay" id="stayBtn"> STAND </button>
                    <button class="double" id="doubleBtn"> DOUBLE </button>
                    <button class="play-again" id="play-again-id">Play Again</button>
                    <button class="exit" id="exitBtn">Leave</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-12">
        <div class="betting">
            <div id="chips">
                <button class="chip bet-1" id="b-1" data-value="1" > 1 </button>
                <button class="chip bet-5" id="b-5" data-value="5" > 5 </button>
                <button class="chip bet-10" id="b-10" data-value="10" > 10 </button>
                <button class="chip bet-20" id="b-20" data-value="20" > 20 </button>
            </div>
            <button class="make-bet" id="betBtn"> BET </button>
        </div>
        <div id="pile"></div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/blackjack.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>