<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="../css/styleB.css">-->
    <link rel="stylesheet" href="../css/styleB.css">
    <title>BLACKJACK</title>
</head>
<body>
    <h2>DEALER: <span id="dealer-sum"></span></h2>
    <div id="dealer-cards">
        <img id="faceDown" src="../images/fullDeck/back.png">
        
    </div>

    <h2>YOU: <span id="your-sum"></span></h2>
    <div id="your-cards">
        
        
    </div>

    <br>
    <button id="hit"></button>
    <button id="stay"></button>
    <button id="goAgain"></button>
    <p id="results"></p>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../js/game.js"></script>
</body>
</html>

