<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/little-helper.css" rel="stylesheet">
    

    <title>Four-leaf Casino</title>
</head>
<body>
    <!-- Your navbar code -->

    <!-- Hero section -->
    <section class="hero text-center text-white d-flex align-items-center justify-content-center">
        <div>
            <h1 class="display-4">Welcome to Four-leaf Casino</h1>
            <p class="lead">The Future of Online Gaming is Here</p>
            <a href="/games" class="btn btn-neon mt-3" id="discoverGames">Discover Our Games</a>
        </div>

        {{> chatWindow }}
    </section>

    <!-- Rest of your website -->

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>
