<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLC-Cas-Home</title>
</head>

<body>

    {{#if User}}

    <h1>{{User.username}} welcome back to the Four-Leaf Casino!</h1>

    {{else}}

    <h2 class="intro_graphic">Welcome to the Four-Leaf Casino!</h2>

    <form class="login_form" method="POST" action="/login">

        <h1 class="login-title">Login</h1>

        <input id='username' type="text" name="username" placeholder="Username" />

        <input id='password' type="password" name="password" placeholder="Password" />

        <button type="submit" class="login-button">Login</button>

    <div class="alt_buttons">
        <button href="/forgot_password" id="forgot_password">Forgot password?</button>
        <button href="/register" id="register_buttons">Register</button>
    </div>

    </form>

   
    {{/if}}

</body>

</html>