<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLC-Cas-Home</title>
</head>
<body>
  
    

    {{#if User}}
        <h1>{{User.username}} welcome back to the Four-Leaf Casino!</h1>
    {{else}}
    <div class="login-group">

        <h2 class="intro_graphic">Welcome to the Four-Leaf Casino!</h2>

        <button class="login-button">Login</button>
        <button class="register-button">Register</button>
    </div>
    {{/if}}
    
</body>
</html>