<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
</head>
<body>

<div class="lobby-container">
    <h1 class="lobby-title">Lobby</h1>
    <ol class="lobby-list">
        <li class="lobby-item">Blackjack</li>
</div>



    
</body>
</html>