<form class="login_form">

  <input id='username' type="text" name="username" placeholder="Username"/>
  <input id='password' type="password" name="password" placeholder="Password"/>
  <a href="/home" class="login-button">Login</a>

  <a href="/register" class="register-button">Register</a>

</form>


