<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>

    <h1>welcome back to the Four-Leaf Casino!</h1>

    <h2 class="intro_graphic">Welcome to the Four-Leaf Casino!</h2>

<div class="login_container">
    <form class="login-form">

        <h1 class="login-title">Register</h1>

        <input id='username' type="text" name="username" placeholder="New Username" />

        <input id='password' type="password" name="password" placeholder="New Password" />

        <button type="submit" class="login-button">Sign-Up</button>

    </form>
</div>

</body>

</html>
