<h1>Sign Up for an account</h1>

<form>
  <input id='users' type="text" name="users" placeholder="Enter new Username"/>
  <input id='users' type="text" name="password" placeholder="Enter new Password"/>
  <button id="submitBtn">Submit</button>
</form>