<h1>Sign Up for an account</h1>

<form>
  <input id='newusername' type="text" name="users" placeholder="Enter new Username"/>
  <input id='newpassword' type="password" name="password" placeholder="Enter new Password"/>
  <button id="newsubmitBtn">Submit</button>
</form>

<script src="/js/register.js"></script>