    <h2 class="intro_graphic">Welcome to the Four-Leaf Casino!</h2>

<div class="login_container">
    <form class="register-form">

        <h1 class="login-title">Register</h1>

        <input id='username-register' type="text" name="username" placeholder="New Username" />

        <input id='password-register' type="password" name="password" placeholder="New Password" />

        <button type="submit" class="register-button">Sign-Up</button>

    </form>
</div>

