<h2>Sign In:</h2>

<p>{{sentence}}</p>

<form>
  <input id='username' type="text" name="username" placeholder="Username"/>
  <input id='password' type="password" name="password" placeholder="Password"/>
  <button id="submitBtn">Submit</button>
</form>



