<p>{{user.username}}</p>
<p>{{user.password}}</p>

{{#if settings.Balance}}
  <p>Balance:</p>
{{/if}}


{{#if settings.gameHistory}}
  <p>Game History:</p>
{{/if}}

{{#if settings.friends}}
  <p>Friends:</p>
{{/if}}

{{#if settings.settings}}
  <p>Settings:</p>
{{/if}}

{{#if settings.logout}}
  <p>Logout:</p>
{{/if}}

{{#if settings.delete}}
  <p>Delete Account:</p>
{{/if}}


