body {
    font-family: Arial, sans-serif;
}

h1 {
    color: black;
    text-shadow: 
        0 0 5px #0ff, 
        0 0 10px #0ff,
        0 0 20px rgb(247, 0, 255),
        0 0 30px rgb(247, 0, 255),
        0 0 40px rgb(247, 0, 255);
    
}

h2 {
    text-shadow: 
        0 0 5px #0ff, 
        0 0 10px #0ff,
        0 0 20px rgb(247, 0, 255),
        0 0 30px rgb(247, 0, 255),
        0 0 40px rgb(247, 0, 255);
}

.card {
    background-color: #386ca87c;
    border-radius: 10px;
}

.card p {
    background-color: #702976;
    color: #fff;
    max-width: fit-content;
}

input[type="password"],
input[type="username"],
input[type="text"],
input[type="file"] {
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

#username{
    background-color: #702976;
    max-width: fit-content;
    color: #fff;
}

#update-picture {
    background-color: #702976;
    color: #fff;
}

#update-username {
    background-color: #702976;
    color: #fff;
}

#change-password {
    background-color: #702976;
    color: #fff;
}

#delete-account {
    background-color: #dc3545;
    color: #fff;
}

#delete-account:hover {
    background-color: #c82333;
}

@media (max-width: 576px) {
    .container {
        padding: 15px;
    }
}
