@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("/images/bArtwork.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.intro_graphic {
  font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    margin-top: 100px;


}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HOMEPAGE */
.welcome-wrapper  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color:#fff;
    border-radius: 10px;
    padding: 30px;

}

.welcome {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 80px;
}

.coin-wrapper {
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
