body {
  font-family: 'Raleway', sans-serif;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background-color: #386ca87c;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius: 100px;
  text-align: center;
}

h2 {
  color: #494747;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 20px;
  position: relative;
}

.input-field input {
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.input-field label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #333;
}

.input-field label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 0;
  border-bottom: 3px solid #a45fd3;
  transition: width 0.3s ease;
}

.input-field input:focus + label::after, .input-field input:valid + label::after {
  width: 100%;
  
  
}


.login-button {
  color: #e8e8e8;
  background-color: #5fa8d3;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-button:hover {
  background-color: #a45fd3;
}

.forgot-password {
  display: inline-block;
  margin: 20px 0;
  color: #333;
  text-decoration: none;
  text-shadow: 
        0 0 5px #0ff, 
        0 0 10px #0ff,
        0 0 20px rgb(247, 0, 255),
        0 0 30px rgb(247, 0, 255),
        0 0 40px rgb(247, 0, 255);
}

hr {
  color: #000000;
  opacity: 0;
  margin: 10px 0;
  height: 2px
}

.register {
  font-size: 0.8rem;
  color: #333;
  margin-top: 20px;
  text-shadow: 
        0 0 5px #0ff, 
        0 0 10px #0ff,
        0 0 20px rgb(247, 0, 255),
        0 0 30px rgb(247, 0, 255),
        0 0 40px rgb(247, 0, 255);
  
}

.register a {
  color: #5fa8d3;
  text-decoration: none;
  text-shadow: none;
}

.register a:hover {
  color: #a45fd3;
}

.forgot-password:hover {
  color: #a45fd3;
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 86vh;
}
