* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    justify-content: center;
    align-items: center;
    border: 1px dotted #e90000;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-brand {
    display: inline-block;
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .navbar-menu {
    list-style-type: none;
  }
  
  .navbar-item {
    float: left;
  }
  
  .navbar-link {
    display: inline-block;
    padding: 12px 16px;
    color: white;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    background-color: #555;
    color: white;
  }

/* Center login form */
.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.login_form form {
  display: flex;
  flex-direction: column;
  width: 35%;
  max-width: 300px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.login_form input {
  margin-bottom: 10px;
  padding: 8px;
  width: 30%;
}

.login_form button {
  padding: 8px;
  width: 30%;
  margin-bottom: 10px;
}

/* Style the login and register buttons */
.login-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  width: 10%;
  background-color: #5e0d0d;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #741010;
}

.login-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  width: 10%;
  background-color: #5e0d0d;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #741010;
}

.nav-icon {
  width: 30px;
  height: 30px; 
}

.intro_graphic {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40%;
  background-color: #333;
  margin: 50px;
  border-radius: 10px;
  padding: 20px;
}






