* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  justify-content: center;
  align-items: center;
  border: 1px dotted #e90000;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.navbar-menu {
  list-style-type: none;
}

.navbar-item {
  float: left;
}

.navbar-link {
  display: inline-block;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
}

.navbar-link:hover {
  background-color: #555;
  color: white;
}




/* Center login form */
.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  margin-top: 30px;
}

/* .login_form form {
  display: flex;
  flex-direction: column;
  width: 35%;
  max-width: 300px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
} */

.login_form input {
  margin-bottom: 10px;
  padding: 8px;
  width: 30%;
}

/* Style the login and register buttons */
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 30%;
  cursor: pointer;
}

.login-button:hover {
  opacity: 0.8;
}


.login-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#forgot_buttons {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

#registar_buttons {
  display: flex;
  justify-content: space-between;
  width: 30%;
}


.nav-icon {
  width: 30px;
  height: 30px;
}

.intro_graphic {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  margin: 30px;
  border-radius: 20px;
  padding: 10px;
}


